
/************************** ADMIN MODULE ************************/

/* BODY */


/* HEADER */
header{
	border-bottom: 1px solid #e7e7e7;
	overflow:hidden;
}
.ch-logo{
	display: inline-block;
}
.admin-aside{
	width:200px;
	height: 300px;
	border-right: 1px solid #e7e7e7;
}


/* ASIDE */

